.calculator-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-height: 100vh;
}

.calc-image {
max-width: 50vw;
height: auto;
margin-top: 3vh;
}

.calculator {
  margin-top: 4vh;
  margin-bottom: 10vh;
  box-shadow: 0 0 50px 20px #2488FF;
}

.output-display {
  background-color: #505050;
  min-width: 80vw;
  min-height: 4em;
  text-align: end;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.buttons-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  min-width: 80vw;
  min-height: 4em;
  background-color: #d4d4d2;
}

.buttons:last-child {
  background-color: #ff9500;
}

.buttons-last-div {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  min-height: 4em;
}

.for-destkop {
  display: none;
}

@media (min-width: 760px) {
  .for-destkop {
    display: block;
  }

  .desk-heading {
    font-size: 2rem;
    color: red;
  }

  .calculator {
    min-width: 50vw;
  }

  .output-display {
    min-width: inherit;
  }

  .buttons-div {
    min-width: inherit;
  }
  
  .calc-image {
    max-width: 20vw;
    height: auto;
  }

  .calculator-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 10vh 5vw;
  }
}
