.navigation {
  max-height: 3vh;
  border-bottom: 2px solid red;
  max-width: 100%;
  padding: 2vh 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #005ece;
}

.logo-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #fff;
}

.logo-image {
  max-width: 5vw;
  padding-right: 12px;
}

.hamburger-div {
  display: grid;
  place-content: center;
}

.nav-ul {
  display: flex;
  gap: 12px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-ul-phone {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0;
  list-style: none;
  background-color: #005ece;
  padding: 3vh 1vw;
  position: absolute;
  top: 60px;
  right: 0;
  border-bottom-left-radius: 20px;
}

.nav-link {
  color: #fff;
  padding-right: 3px;
  font-size: 12px;
}

.menu-pop-up-li {
  max-height: 2vh;
}

.phone-ul {
  /* position: fixed; */
  min-height: 10vh;
  padding: 12px 20px;
  background-color: #fff;
  top: 0;
  right: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.for-desktop {
  display: none;
}

@media (min-width: 760px) {
  .for-phone {
    display: none;
  }

  .for-desktop {
    display: block;
  }

  .nav-ul {
    display: flex;
    gap: 12px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .nav-link {
    color: #fff;
    border-right: 3px solid red;
    padding-right: 10px;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  a:active {
    text-decoration: none;
  }
}
